    <html>
    <head>    
        <link rel="stylesheet" href="Site.css">
        <title>Site top</title>
    </head>
    <body style="background-color:#DDA0DD;">
        <div id="menu">
            <ul>
                <li><a href=""></a>Home</li>
                <li><a href=""></a>Communique</li>
                <li><a href=""></a>Sobre nos</li>
            </ul>


        </div>
        <div class="content">
        <div class="rocket">
            <img src="C:\Users\MOGSUP2020\Downloads\download.jpg">
        </div>

    </div>
    <h1 color="#FFFFFF">"Sua melhor experiencia em plataforma de conteudos"</h1 color="#FFFFFF">
    <div id="geral">
        <div id="topo"></div>
        <div id="geral"></div>
        <div id="conteudo">
            <p color>AAAAAAAAAAAAAAAAAAAAAAA</p>
            <div id="box">
                <div id="boxa">
                    <h2> não sei </h2>
                </div>
                <div id="boxb">
                    <h2></h2>
                </div>
                <div id="boxc"></div>

            </div>
        </div>    

    </div>
   
    <div></div>



    </body>



    </html>
